<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookcase</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/svg/align-right.svg">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" data-toggle="tooltip" data-placement="bottom" title="Click to go back to title screen!"
                   asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/svg/book-black.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                    Bookcase
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @*                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>*@
                <div class="btn-group dropleft">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="~/svg/menu-outline.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        @*if user is logged*@
                        @if (Context.User.Identity.IsAuthenticated)
                        {
                            <a class="dropdown-item" asp-controller="Publishers" asp-action="Index">Publishers</a>
                            <a class="dropdown-item" asp-controller="Genres" asp-action="Index">Genres</a>
                            <a class="dropdown-item" asp-controller="Authors" asp-action="Index">Authors</a>
                            <a class="dropdown-item" asp-controller="Books" asp-action="Index">Books</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Accounts" asp-action="Logout">Log out</a>
                        }
                        else
                        {
                            <a class="dropdown-item" asp-controller="Accounts" asp-action="Login">Log in</a>
                            <a class="dropdown-item" asp-controller="Accounts" asp-action="Register">Register</a>
                        }

                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (Context.User.Identity.IsAuthenticated)
    {
        <footer class="border-top footer text-muted">
            <div class="container">
                You are logged as: @Context.User.Identity.Name
            </div>
        </footer>
    }
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
